@font-face {
    font-family: 'pretendoregular';
    src: url('../resources/pretendo-font/pretendo-webfont.woff2') format('woff2'),
         url('../resources/pretendo-font/pretendo-webfont.woff') format('woff');
}

html,body,#root,.app {
    height: 100%;
}

.app {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.header {
    align-items: start;
    background-color: red;
    color: white;
    text-align: center;
    display: flex;
    max-width: 580px;
    width: 100%;
}

.title {
    margin: auto;
}

h1 {
    margin: auto;
    margin-top: 1.5vh;
    width: calc(100% - 75px);
    font-weight: normal;
    letter-spacing: 0.1em;
    padding-top: 10px;

}

.main-title {
    border: white solid 6px;
    border-radius: 30px;
}

.notice-title {
    margin-bottom: 1.5vh;
}

p {
    margin: 8px;
    letter-spacing: 0.02em;
}

img {
    margin: 4px;
}