html,body,#root,.app {
    height: 100%;
}

.app {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.header {
    align-items: center;
    background-color: red;
    color: white;
    text-align: center;
    display: flex;
    max-width: 580px;
    width: 100%;
}

.header button {
    align-self: flex-start;
}

.title {
    margin: auto;
}

h1 {
    border: white solid 6px;
    border-radius: 30px;
    margin: auto;
    margin-top: 1.5vh;
    width: calc(100% - 75px);
}

p {
    margin: 8px;
}