html,body,#root,.app {
    height: 100%;
}

.app {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.header {
    align-items: center;
    text-align: center;
    display: flex;
    max-width: 580px;
    width: 100%;
}

.title {
    margin: auto;
}

h1 {
    margin: 8px;
}

p {
    margin: 8px;
}